In [5]:
import pandas as pd   
import numpy as np
from pandas import Series
from pandas import DataFrame

In [6]:
data = {
    'Year': [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
    'GDP (trillion dollars)': [18.2, 18.7, 19.4, 20.1, 20.8, 21.5, 22.2, 23.0, 23.8, 24.7],
    'Unemployment Rate (%)': [5.1, 4.8, 4.3, 3.9, 3.7, 8.1, 6.0, 4.2, 3.5, 3.0],
    'Inflation Rate (%)': [1.5, 2.0, 2.2, 2.5, 2.1, 1.8, 2.3, 1.9, 1.7, 1.5]
}
# Create a DataFrame using the dictionary
df = DataFrame(data)
df.index = [15,16,17,18,19,20,21,22,23,24]
df = df.reindex(columns=['GDP (trillion dollars)', 'Unemployment Rate (%)', 'Inflation Rate (%)'])
df.index.name = 'Year'
df

      GDP (trillion dollars)  Unemployment Rate (%)  Inflation Rate (%)
Year
15                      18.2                    5.1                 1.5
16                      18.7                    4.8                 2.0
17                      19.4                    4.3                 2.2
18                      20.1                    3.9                 2.5
19                      20.8                    3.7                 2.1
20                      21.5                    8.1                 1.8
21                      22.2                    6.0                 2.3
22                      23.0                    4.2                 1.9
23                      23.8                    3.5                 1.7
24                      24.7                    3.0                 1.5

In [27]:
# drop
df.drop(16) # not change the df
# if you want to delete from data use inplace=True

      GDP (trillion dollars)  Unemployment Rate (%)  Inflation Rate (%)
Year
17                      19.4                    4.3                 2.2
18                      20.1                    3.9                 2.5
19                      20.8                    3.7                 2.1
21                      22.2                    6.0                 2.3
22                      23.0                    4.2                 1.9
23                      23.8                    3.5                 1.7
24                      24.7                    3.0                 1.5

In [19]:
df.drop('Unemployment Rate (%)', axis=1) # never change df

      GDP (trillion dollars)  Inflation Rate (%)
Year
16                      18.7                 2.0
17                      19.4                 2.2
18                      20.1                 2.5
19                      20.8                 2.1
21                      22.2                 2.3
22                      23.0                 1.9
23                      23.8                 1.7
24                      24.7                 1.5

In [31]:
df

      GDP (trillion dollars)  Unemployment Rate (%)  Inflation Rate (%)
Year
15                      18.2                    5.1                 1.5
16                      18.7                    4.8                 2.0
17                      19.4                    4.3                 2.2
18                      20.1                    3.9                 2.5
19                      20.8                    3.7                 2.1
20                      21.5                    8.1                 1.8
21                      22.2                    6.0                 2.3
22                      23.0                    4.2                 1.9
23                      23.8                    3.5                 1.7
24                      24.7                    3.0                 1.5

In [32]:
data2 = df['Unemployment Rate (%)']
data2 # series

Year
15    5.1
16    4.8
17    4.3
18    3.9
19    3.7
20    8.1
21    6.0
22    4.2
23    3.5
24    3.0
Name: Unemployment Rate (%), dtype: float64

In [33]:
type(data2)

pandas.core.series.Series

In [7]:
data3 = df[['Unemployment Rate (%)']]
data3

      Unemployment Rate (%)
Year
15                      5.1
16                      4.8
17                      4.3
18                      3.9
19                      3.7
20                      8.1
21                      6.0
22                      4.2
23                      3.5
24                      3.0

In [8]:
type(data3)

pandas.core.frame.DataFrame

In [9]:
data3[21]

KeyError: 21